@keyframes flashIt{
	0%{
		opacity 0
	}
	40%{
		opacity 1
	}
	70%{
		opacity 0.8
	}
	100%{
		opacity 0
	}
}

@keyframes cdowns{
	0%{
		font-size 100px
		opacity 0
	}
	50%{
		font-size 200px
		opacity 0.75
	}
	75%{
		font-size 270px
		opacity 1
	}
	100%{
		font-size 300px
		opacity 0
	}
}

@keyframes _loading{
	0%{
		margin-top 100px
		opacity 1
	}
	30%{
		margin-top 90px
		opacity 0.8
	}
	50%{
		margin-top 75px
		opacity 0.6
	}
	60%{
		margin-top 90px
		opacity 0.8
	}
	70%{
		margin-top 80px
		opacity 0.7
	}
	80%{
		margin-top 95px
		opacity 0.9
	}
	100%{
		margin-top 100px
		opacity 1
	}

}


@keyframes needyFooter{
	0%{
		background-color rgba(_blue, 1)
	}
	50%{
		background-color rgba(_blue, 0.6)
	}
	100%{
		background-color rgba(_blue, 1)
	}
}