.box
	background-color #FFF
	display block
	width 100%
	height auto
	box-sizing border-box
	margin-top 20px
	> .title 
		clearfix()



// Main Box
.box.main
	margin-top 40px
	i, h3
		display block
		text-align center
		font-size 30px
		width 100%
		color _purple
	i
		font-size 120px
	h3
		margin-top 10px
		font-size 32px 
		font-family baseFontThin


// App Box 
.box.app
	> .title
		display block 
		.heads
			display block
			i
				display inline-block
				font-size 20px
				color #555
				margin-right 12px
			h3
				display inline-block
				color #555
		.options
			display block
			float right
			margin-right 30px


