.frontlayer, .backlayer, .overlay
	absolute top left
	bottom 0
	right 0
	width 100%
	height 100%

.frontlayer
	z-index 50
	overflow hidden
.backlayer
	z-index 30
.overlay
	z-index 1300
	display none


.content
	absolute top left
	left 85px
	bottom 0
	right 20px
	width auto
	height 100%

.padded
	box-sizing border-box
	padding-left 20px
	padding-right 20px