
/*
	FONTS Included
	1. SourceSansPro
	2. QuickSand
	3. CaviarDreams
	4. Titillium Text
	5. BonvenoCF
	6. Roboto

	Custom fonts can be added in the same way
*/

font-roboto(){
	baseFont = "RobotoRegular"
	baseFontLight = "RobotoLight"
	baseFontSemibold = "RobotoMedium"
	baseFontThin = "RobotoThin"
	baseFontBold = "RobotoBold"
	baseFontXBold = "RobotoBlack"
}

font-sourcesanspro(){
	baseFont = "SourceSansProRegular"
	baseFontLight = "SourceSansProLight"
	baseFontSemibold = "SourceSansProSemibold"
	baseFontThin = "SourceSansProExtraLight"
	baseFontBold = "SourceSansProBold"
	baseFontXBold = "SourceSansProBlack"
}

font-bonvenocf(){
	baseFontLight = "BonvenoCFLight"
}

font-caviardreams(){
	baseFont = "CaviarDreamsRegular"
	baseFontLight = "SourceSansProLight"
	baseFontSemibold = "SourceSansProSemibold"
	baseFontThin = "SourceSansProExtraLight"
	baseFontBold = "CaviarDreamsBold"
	baseFontXBold = "SourceSansProBlack"
}

font-titillium(){
	baseFont = "TitilliumText25L400wt"
	baseFontLight = "TitilliumText25L250wt"
	baseFontThin = "TitilliumText25L1wt"
	baseFontSemibold = "TitilliumText25L600wt"
	baseFontBold = "TitilliumText25L800wt"
	baseFontXBold = "TitilliumText25L999wt"
}

font-quicksand(){
	baseFont = "QuicksandBook"
	baseFontLight = "QuicksandLight"
	baseFontBold = "QuicksandBold"
	baseFontDash = "QuicksandDash"
}



