
_baseback = rgb(255, 255, 255)
_fontcolor = #484848
_purple = rgb(157, 105, 180)
_green = #33DC49
_red = #FF4444
_blue = #33B5E5
_pink = #ED3BA6
_orange = #FFBB33
_yellow = #f4b400
_grey = #b9b9b9


_vodared = #ED1C24

// Default Font
baseFont = "RobotoRegular"
baseFontLight = "RobotoLight"
baseFontSemibold = "RobotoMedium"
baseFontThin = "RobotoThin"
baseFontBold = "RobotoBold"
baseFontXBold = "RobotoBlack"
