.notification
	fixed top left
	top 10px
	left 50%
	min-width 180px
	background-color _blue
	border 1px darken(_blue, 8%) solid
	.message
		padding 10px 20px
		text-align center
		color #FFF
		font-family baseFont
		font-size 14px
		text-shadow 0px 1px 0px rgba(0,0,0,0.2)