.row-fluid.box.app
	.title.red
		i.entypo-export
		h3 Share
	.post-container.row-fluid.loadActions(data-action='getLatestPostShare', data-target='#latestpost-share')
		.userImage.span3.user-whoposted
			img
		.post-content.span9#latestpost-share
			.who-posted FB User
			.post-text
				p Fetching Latest Post
			.post-likes
				.count 23
				.text People like this