.row-fluid.box.app
	.title.blue
		i.entypo-vcard
		h3 Status Post
	.body
		.row-fluid.loadActions(data-action='publishWelcome', data-target='#status-message')
			p.lead#status-message "Welcome to tagbin"